/* Add this CSS to your stylesheet */
.text-accent {
  color: #00df9a;
}

.btn-close {
  display: block;
  width: fit-content;
  padding: 0.75rem 3rem;
  background-color: #00df9a;
  color: white;
  border: none;
  border-radius: 0.375rem; /* 6px */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto 0;
  transform: scale(1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-close:hover {
  background-color: #02f0b1; /* A lighter shade of the accent color for hover effect */
  transform: scale(1.05); /* Slightly larger scale for hover effect */
}

.faq-list {
  list-style-type: none; /* This removes the bullet points */
  padding-left: 0; /* This will remove indentation if it's not already set */
}

.faq-question {
  cursor: pointer;
  padding: 0.5em 0; /* Add padding for better clickability */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-question:hover {
  background-color: #ffffff1a;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.faq-answer.open {
  max-height: 500px; /* adjust based on your content */
}
