.modal-overlay {
  font-family: 'Arial', sans-serif;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
  z-index: 50;
}

.modal-container {
  background-color: #111827;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  max-height: 80vh;
  transition: padding 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-title {
  color: #EAEAEA;
  font-size: 20px;
  font-weight: bold;
}

.modal-close-btn {
  background-color: #00df9a;
  color: #000000;
  font-size: 14px;
  /* Adjusted font size */
  padding: 8px 16px;
  /* Adjusted padding */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

.modal-close-btn:hover {
  background-color: #00b884;
  transform: scale(1.05);
  /* Scale effect on hover */
}

.modal-trains-list {
  overflow-y: auto;
}

.modal-train-details {
  background-color: #192033;
  margin: 10px 0;
  padding: 15px;
  /* Slightly reduced padding for mobile */
  border-radius: 10px;
  color: #EAEAEA;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-train-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.modal-train-title {
  font-weight: bold;
  color: #00df9a;
  background-color: #263244;
  padding: 6px 12px;
  margin-bottom: 3px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.modal-train-change-notice {
  font-weight: bold;
  color: #F9F6EE;
  background-color: #20293f;
  padding: 6px 12px;
  margin: 20px 0;
  border-radius: 8px;
  border: 2px dashed #00df9a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.modal-stations-list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.modal-stations-titles {
  display: table-row;
  font-weight: bold;
  text-transform: uppercase;
  color: #EAEAEA;
  background-color: #263244;
  padding: 10px 0;
  border-bottom: 2px solid #00df9a;
}

.modal-station-name-title,
.modal-platform-title,
.modal-arrival-title {
  display: table-cell;
  padding: 8px;
  text-align: center;
}

.modal-station-name-title {
  text-align: left;
}

.modal-arrival-title {
  text-align: right;
}

.modal-station {
  display: table-row;
  background-color: #192033;
  color: #EAEAEA;
  transition: background-color 0.2s ease;
}

.modal-station:hover {
  background-color: #111827;
}

.modal-highlighted-station {
  font-weight: bold;
  color: #00df9a;
}

.modal-station-name,
.modal-platform-number,
.modal-arrival-time {
  display: table-cell;
  padding: 8px;
  text-align: center;
}

.modal-station-name {
  text-align: left;
}

.modal-arrival-time {
  text-align: right;
}

.modal-toggle-expand-btn {
  display: block;
  width: auto;
  padding: 10px 20px;
  background-color: #20293f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
}

.modal-toggle-expand-btn:hover {
  background-color: #192033;
  transform: scale(1.05);
}